{$HOST}/kiwix {
  reverse_proxy kiwix:8080
}

{$HOST}/jellyfin {
  reverse_proxy jellyfin:8096
}

{$HOST}/whoami {
  reverse_proxy whoami:80
}

{$HOST}/gatus {
  reverse_proxy gatus:8080
}

{$HOST}/glances {
  reverse_proxy glances:61208
}
